{% extends 'demo1/base_form.html' %}
{% block formu %}
<div class="page-header">
    <h1>Nuevo Viaje</h1>
</div>
<div>
    <div class="formu container">
        <div>
            <form method="POST" class="post-form">
                {% csrf_token %}
                {{ form.as_p}}
                <button type="submit" class="guardar chofer">Guardar</button>
            </form>
            {% if valor %}
                <div>
                    <p> La ruta con la fecha ingresada ya está reservado</p>
                </div>
            {% endif %}
            {% if exitoso %}
                <div>
                    <p> La carga se realizo con exito</p>
                </div>
            {% endif %}
            {% if asientosValidos %}
                <div>
                    <p> La cantidad de asientos debe ser menor o igual al de la combi</p>
                </div>
            {% endif %}
        </div>
        <div>
            <h2><a href="{% url 'principal' %}"> salir</a></h2>
        </div>
    </div>
</div>
{% endblock %}