{% extends 'demo1/base_form.html' %}
{% block formu %}
<div class="page-header">
    <h1>Nuevo Ruta</h1>
</div>
<div>
    <div class="formu container">
        <div>
            <form method="POST" class="post-form">
                {% csrf_token %}
                {{ form.as_p}}
                <button type="submit" class="guardar chofer">Guardar</button>
            </form>
            {% if desOriEquls %}
            <div>
                <h3>No se puede crear la ruta porque el origen y el destino de la ruta son iguales</h3>
            </div>
           
            {% elif exitoso %}
                <div>
                    <h3> La carga se realizo con exito</h3>
                </div>
            {% elif rutaRep %}
                <div>
                    <h3> No se puede crear la ruta porque el origen, destino y hora de la ruta coinciden con otra ruta activa</h3>
                </div>

            {% endif %}
        </div>
        <div>
            <h2><a href="{% url 'principal' %}"> salir</a></h2>
        </div>
    </div>
</div>
{% endblock %}