{% extends 'demo1/base_form.html' %}
{% block formu %}
<div class="page-header">
    <h1>Nuevo Chofer</h1>
</div>
<div>
    <div class="formu container">
        <div>
            <form method="POST" class="post-form">
                {% csrf_token %}
                {{ form.as_p}}
                <button type="submit" class="guardar chofer">Guardar</button>
            </form>
            {% if exitoso %}
                <div>
                    <h3> La carga se realizo con exito</h3>
                </div>
            {% elif not dniUnico and not maiUnico %}
                <div>
                    <h3> El dni y el mail ya estan registrado</h3>
                </div>
            {% elif not dniUnico %}
                <div>
                    <h3> El dni ya estan registrado</h3>
                </div>
            {% elif not mailUnico %}
                <div>
                    <h3> El mail ya estan registrado</h3>
                </div>
            
            {% endif %}
        </div>
        <div>
            <h2><a href="{% url 'principal' %}"> salir</a></h2>
        </div>
    </div>
</div>
{% endblock %}