{% extends 'demo1/base_registrar.html' %}

{% block content %}
    <form method="POST" class="post-form" id="usuarioForm">
        {% csrf_token %}
        {{ form.as_p}}
        <button type="submit" class="guardar usuario">Registrar</button>
        <div>
            <h2><a href="{% url 'login' %}"> Salir</a></h2>
        </div>
    </form>
    {% if exitoso %}
        {% if tipo %}
        <div>
            <meta http-equiv="refresh" content="0; URL=http://127.0.0.1:8000/login/" />
        </div>
        {% else %}
        <div>
            <meta http-equiv="refresh" content="0; URL=http://127.0.0.1:8000/registrar/tarjeta" />
        </div>
        {% endif %}
    {% elif fallido %}
        {% if edad < 18 %}
            <div>
                <p> No ha podido registrarse correctamente ya que debe ser mayor a 18 años</p>
            </div>
        {% elif not mailUnico and not dniUnico %}
            <div>
                <h3>No se ha podido registrar correctamente porque el email y el dni ya existen</h3>
            </div>
        {% elif not mailUnico %}
            <div>
                <h3>No se ha podido registrar correctamente porque el email ya existe</h3>
            </div>
        {% elif not dniUnico %}
            <div>
                <h3> No ha podido registrarse correctamente ya que el dni ya existe </h3>
            </div>
        {% endif %}
    {% endif %} 
{% endblock %}