h1 a, h2 a {
    color: #030c33;
    font-family: 'Lobster';
    padding: 20px 20px 20px 40px;
}
h3 p {
    color: #02105e;
    font-family: 'Lobster';
    padding: 20px 20px 20px 40px;
}
.preloader a {
    width: 70px;
    height: 70px;
    border: 10px solid #eee;
    border-top: 10px solid rgb(235, 16, 16);
    border-radius: 50%;
    animation-name: girar;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  @keyframes girar {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
h4 {
    color: #02105e;}
.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #1322aa;
    font-size: 36pt;
    text-decoration: none;
    display:inline;
    display: flex;
    align-items: center;
    justify-content: center;
}
#header h2 { display:inline; }

.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}

.date {
    color: #c00707;
}

.save {
    float: right;
}

.usuario-form textarea, .usuario-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #290d1c;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.usuario {
    margin-bottom: 70px;
}

.usuario h2 a, .usuario h2 a:visited {
    color: #e4c517;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.card form {
    max-width: 100%;} /* Handles the responsive part, it will cause your form to scale with a max-width of 100% */


.menu li a:hover{
    color:#02105e;
    transition: all .3s;   
}

.menu li:hover .submenu{
    display: block;
}

.lista {
    color: #c00707;
}
