h1 a, h2 a {
    color: #020920;
    font-family: 'Lobster';
    padding: 20px 20px 20px 40px;
}
.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #053605;
    font-size: 36pt;
    text-decoration: none;
}
#header h2 { display:inline; }

.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}

.date {
    color: #c00707;
}

.save {
    float: right;
}

.usuario-form textarea, .usuario-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #290d1c;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.usuario {
    margin-bottom: 70px;
}

.usuario h2 a, .usuario h2 a:visited {
    color: #e4c517;
}