{% load static %}
<html>
    <head >
        <title>Home</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/demo1.css' %}">
    </head>
    <body>
        <div class="page-header">
        {% if user.is_authenticated %}
                <h1>Menú administrativo de Combi19</h1>
        </div>
            <div class="card"><h4><a href="http://127.0.0.1:8000/logout/">Cerrar sesion administrador</a> </h4> </div>
            <br>
            <div>
                <div class="content container">
                    {% block content %}
                    {% endblock %}
                </div>  
        </div>
        {% else %}
            <h2 class='card'> <p>Error, No ha iniciado sesion</p></h2>  
            <h2 class='card'> <a href="http://127.0.0.1:8000/login/">Iniciar Sesión</a></h2>  
        {% endif %}
    </body>
</html>