{% load static %}
<html>
    <head >
        <title>Cambiar Contraseña</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/demo1.css' %}">
    </head>
    <body>
      <div class = 'card' >
      <h1>Cambiar Contraseña</h1>
   </div>
   <div class = 'card'>
    <form method="post">
        
      {% csrf_token %}
      {{ form }}
    
      <button type="submit">Guardar Cambios</button>
    </form>
    {% if exito %}
      <h3>Su contraseña fue modificada con exito</h3>
    {% endif %}
    
    </div>
    <div class = 'card' >
      <h2><a href="{% url 'modificar_pasajero' pk=user.pk%}">Atras</a></h2>
  </div>
</body>
  

