{% extends 'demo1/base_home.html' %}
   {% block content %}
   {% if user.is_authenticated %}
   

   <div class="lista" >
      <!--<ul style="list-style: none;">
         <li><p>Consultar Pasajes</p></li>
         <li><a href="{% url 'consultar_pasaje_user_p' pk=user.pk %}">Pendientes</a></li>
         <li><a href="{% url 'consultar_pasaje_user_c' pk=user.pk %}">Carcelados</a></li>
      </ul>-->
      <nav class="navegacion">
         <ul class="menu" >
            <li><a href="{% url 'buscar_viajes' %}">Buscar viajes</a></li>
            <li><a href="#">Consultar Pasajes</a>
               <ul class="submenu">
                  <li><a href="{% url 'consultar_pasaje_user_p' pk=user.pk %}">Pendientes</a></li>
                  <li><a href="{% url 'consultar_pasaje_user_c' pk=user.pk %}">Cancelados</a></li>
               </ul>
            </li>
         </ul>
      </nav>
   </div>
   <div align="right">
      <h2><a href="{% url 'crear_comentario' %}">Crear Comentario</a></h2>
   </div>
   {% if cantidad %}
      {% for comentario in page_obj %}
      <div style="background: #230aff57; border: 1px solid #5D0202; padding:3px; text-align: left;">
            <h3>Publicado por {{comentario.first_name}}  {{comentario.last_name}}</h3>
            <p>{{ comentario.texto|linebreaks }}</p>
            <p>Fecha {{comentario.fecha}}  Hora {{comentario.hora}}</p>
            {% if comentario.valor %}
            <a href="{% url 'home_usuario' pk=comentario.id %}"><p>Eliminar</p></a>
            {% endif %}
      </div>
      {% endfor %}
   {% endif %}
      <div>
          {%if page_obj.has_previous %}
              <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
          {%endif%}
          {%if page_obj.has_next %}
              <a href="?page={{ page_obj.next_page_number}}">Siguiente</a>
          {%endif%}
  </div>
      
   {% endif %}
   {% endblock %}