{% extends 'demo1/base_home.html' %}
{% load static %}
{% block content %}
   {% if user.is_authenticated %}
   <div>
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"></script>
      <script src="{% static 'js/nuevojavascript.js' %}"></script>
   <div class="lista" >
      <nav class="navegacion">
         <ul class="menu" >
            <li><a href="{% url 'buscar_viajes' %}">Buscar viajes</a></li>
            <li><a href="#">Consultar Pasajes</a>
               <ul class="submenu">
                  <li><a href="{% url 'consultar_pasaje_user_p' pk=user.pk %}">Pendientes</a></li>
                  <li><a href="{% url 'consultar_pasaje_user_c' pk=user.pk %}">Cancelados</a></li>
               </ul>
            </li>
            <li><a href="{% url 'crear_comentario' %}">Crear Comentario</a></li>
         </ul>
      </nav>
   </div>
      {% if cantidad %}
      <h2>Comentarios Realizados</h2>
      <div>
         {% for comentario in page_obj %}
         <div style="background: #230aff57; border: 1px solid #5D0202; padding:3px; text-align: left;">
            <h3>Publicado por {{comentario.first_name}}  {{comentario.last_name}}</h3>
            <p>{{ comentario.texto|linebreaks }}</p>
            <p>Fecha {{comentario.fecha}}  Hora {{comentario.hora}}</p>
            {% if comentario.valor %}
               <button class="boton_de_eliminacion" onclick="confirmEliminacion('{% url 'home_usuario' pk=comentario.id%}','¿Está seguro que desea eliminar el comentario?' )" style="color: black; background-color: #230aff57;">Eliminar</button>
               <form method="get" action="{% url 'modificar_comentario' pk=comentario.id %}">
                  <button style="color: black; background-color: #230aff57;" type="submit">Modificar</button>
              </form>
            {% endif %}
         </div>
         {% endfor %}
      {% else %}
      <div>
         <p>No se ha realizado ningún comentario</p>
      </div>
   </div>
   {% endif %}
{% endif %}
</div>
   {% endblock %}