{% extends 'demo1/base_home_chofer.html' %}
   {% block content %}
   <script>
      function asegurar ()
        {
            rc = confirm("¿Está seguro que desea finalizar el viaje?");
            return rc;
        }
      </script>

   {%if enCurso%}
   <div class="card">
   <h2>Viaje en Curso</h2> &nbsp;&nbsp;&nbsp;&nbsp;
   <h3><a href="{% url 'finalizar_viaje' %}" onclick="javascript:return asegurar();">Finalizar viaje</a></h3></div>
   <h3><a href="{% url 'vender_pasaje_en_curso' %}">Viajes Proximos</a></h3>
   {%endif%}
   
   <div class="lista" >
      <h3><a href="{% url 'viajes_proximos' %}">Viajes Proximos</a></h3>
   </div>

   
   
   
      <h3>{{mensaje}}</h3>
   
   {% endblock %}