<html>
    <head>
        <title>Home</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Home de Combi19</a></h1>
        </div>
        <div>
            <h2><a href="">Choferes</a></h2>
        </div>
        <div>
            <h2><a href="">Pasajeros</a></h2>
        </div>
        <div>
            <h2><a href="">Combis</a></h2>
        </div>
        <div>
            <h2><a href="">Viajes</a></h2>
        </div>
        <div>
            <h2><a href="">Insumos</a></h2>
        </div>
        <div>
            <h2><a href="">Rutas</a></h2>
        </div>
        <div>
            <h2><a href="">Lugares</a></h2>
        </div>
        <div>
            <h2><a href="">Tarjetas</a></h2>
        </div>
    </body>
</html>