{% load static %}
<html>
    <head >
        <title>Comprar Pasaje</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/demo1.css' %}">
    </head>
    <body>
        <div class="page-header">
            {% if gold %}
            <h1><a></a>Comprar Pasaje Usuario Gold</a></h1>
            {% else %}
            <h1><a></a>Comprar Pasaje</a></h1>
            {% endif %}
        </div>
        <div>
            <div class = 'card'>
                <form method="POST" class="post-form" id="usuarioForm">
                    {% csrf_token %}
                    {{ form.as_p}}
                    <button type="button">
                        <a href="{% url 'inicializar_pasaje' pk=viaje.pk %}">Borrar compra</a>
                    </button>
                    
                    <button type="submit" class="guardar usuario">Confirmar seleccion</button>
                    {% if gold %}
                    <button type="button">
                        <a href="{% url 'cargar_datos_de_tarjeta' pk=viaje.pk %}">Usar los datos de mi tarjeta</a>
                    </button>

                    {% endif %}
                </form>
             </div>
             {% if compro and hayPasajes%}
            <div class = 'card'>
            <button type="button">
                <a href="{% url 'validar_compra' %}">Comprar</a>
            </button>
        </div>
        {% endif %}
            <div class = 'card'>
                {% if not hayPasajes %}
                    <div>
                        <h3>No hay suficientes pasajes para vender</h3>
                    </div>
                
                {% endif %}
                </div>
                <div class = 'card'>
                {% if hayPasajesSelec %}
                    <div>
                        <h4>Ha seleccionado comprar {{pasaje.cantidad}} pasaje </h4>
                    </div>
                
                {% endif %}
                </div>
                <div class = 'card'>
                {% if hayInsumosSelec %}
                    <ul>
                    {% for key, value in cantInsumos.items %} 
                      <h4>Ha seleccionado comprar {{key}}. Cantidad: {{value}}</h4>
                    {% endfor %}
                    </ul>
                   {% endif %}
                   {% if compro %}
                </div>
                   <div class = 'card'>
                    <h3>Lleva gastado $ {{pasaje.precio}} </h3>
                </div>
                {% else %}
                <div class = 'card'>
                    <h3>Debe confirmar los datos antes de poder comprar su pasaje </h3>
                </div>

                {% endif %}
                {% if gold and compro%}
                <div class = 'card'>
                <h3>Por ser Usuario gold obtuvo un descuento de $ {{descuento}} </h3>
                </div>
                {% endif %}
            </div>
                <div class ='card'>
                    <h2><a href="{% url 'buscar_viajes' %}"> Atras</a></h2>
                </div>     
        </div>
    </body>
</html>

