{% extends 'demo1/base_form.html' %}
{% block formu %}
<div class="page-header">
    <h1>Modificar Ruta</h1>
</div>
<div class="card">
    <div class="formu container">
        <div class="card">
            <form method="POST" class="post-form">
                {% csrf_token %}
                {{ form.as_p}}
                <button type="submit" class="guardar chofer">Guardar</button>
            </form>
        </div>
        <div class="card">
            <h2><a href="{% url 'listado_ruta' %}"> Atras</a></h2>
        </div>
    </div>
</div>
{% endblock %}