{% extends 'demo1/base_form.html' %}

{% block formu %}
<div class="page-header">
    <h1>Modificar Comentario</h1>
</div>
<div class="card">
    <div class="formu container">
    <div class="card">
        <form method="POST" class="post-form">
            {% csrf_token %}
            {{ form.as_p}}
            <button type="submit" class="guardar lugar">Guardar</button>
        </form>
    </div>
    <div class="card">
        <h3><a href="{% url 'home_usuario' %}"> Atras</a></h3>
    </div>
    </div>
</div>
{% if exitoso %}
<div>
    <meta http-equiv="refresh" content="0; URL=http://127.0.0.1:8000/home_usuario/" />
</div>
{% else %}
{% if fallido %}
<div style="text-align: left;">
    <p>No puede actualizar el comentario ya que no se realizó ninguna modificación</p>
</div>
{% endif %}
{% endif %}

{% endblock %}