{% extends 'demo1/base_form.html' %}
{% block formu %}
<div class="page-header">
    <h1>Modificar Combi</h1>
</div>
<div class="card">
    <div class="formu container">
        <div class="card">
            
            <form method="POST" class="post-form">
                {% csrf_token %}
                {{ form.as_p}}
                <button type="submit" class="guardar chofer">Guardar</button>
            </form>
        </div>
        <div>
            {% if not modiTodo %}
                <div class="card">
                    <h3> La combi ya esta asignada a una ruta por lo que solo es posible modificar el chofer el tipo</h3>
                </div>
            {% endif %}
            {% if choferRep %}
                <div class="card">
                    <h3> No es posible asignar el chofer elegido porque el mismo ya fue asigando a otra combi</h3>
                </div>
            {% endif %}
        </div>
        
        <div class="card">
            <h2><a href="{% url 'listado_combi' %}"> Atras</a></h2>
        </div>
    </div>
</div>
{% endblock %}