{% extends 'demo1/base_form.html' %}

{% block formu %}
<div class="page-header">
    <h1>Modificar Lugar</h1>
</div>
<div class="card">
    <div class="formu container">
    <div class="card">
        <form method="POST" class="post-form">
            {% csrf_token %}
            {{ form.as_p}}
            <button type="submit" class="guardar lugar">Guardar</button>
        </form>
        {% if noModificado %}
        <div>
            <p> El Lugar ya se encuentra registrado</p>
        </div>
        {% endif %}
        {% if exitoso %}
        <div>
            <p> La carga se realizo con exito</p>
        </div>
        {% endif %}
    </div>
    <div class="card">
        <h3><a href="{% url 'listado_lugar' %}"> Atras</a></h3>
    </div>
    </div>
</div>

{% endblock %}