{% extends 'demo1/base_form.html' %}
{% block formu %}
<div class="page-header">
    <h1>Modificar Viaje</h1>
</div>
<div class="card">
    <div class="formu container">
        <div class="card">
            <form method="POST" class="post-form">
                {% csrf_token %}
                {{ form.as_p}}
                <button type="submit" class="guardar chofer">Guardar</button>
            </form>
            </div>
            <div>
            {% if not viajeValido %}
                <div class="card">
                    <h3>La modificacion no se realizo porque la ruta con la fecha ingresada ya está reservado</h3>
                </div>
            {% elif not asientosValidos %}
                <div class="card">
                    <h3> La modificacion no se realizo porque la cantidad de asientos ingresada es mayor a la capacidad de la combi</h3>
                </div>
            {% endif %}
        </div>
        <div class="card">
            <h2><a href="{% url 'listado_viaje' %}"> Atras</a></h2>
        </div>
    </div>
</div>
{% endblock %}