{% extends 'demo1/base_consulta.html' %}

{% block content %}
<div class="card">
    <h2>Listado</h2>  
</div>
    <div class="card">
    {% if valor %}
    <table class="tablalista" width=100% border="1">
        <tbody>
            <tr>
                <td align="center" colspan="6">Pendientes</td>
            </tr>
            <tr>
                <td align="center">Origen</td>
                <td align="center">Destino</td>
                <td align="center">Fecha y Hora de Viaje</td>
                <td align="center">Cant. de Pasajes</td>
                <td align="center">Costo Total</td>
                <td align="center">Opción</td>
            </tr>
            {% for i in lista %}
            <tr>
                <td >{{i.origen}}</td>
                <td >{{i.destino}}</td>
                <td >{{i.fecha}}</td>
                <td>{{i.cantidad}}</td>
                <td >{{i.costoTotal}}</td>
                <td ><a href="{% url 'cancelar_pasaje' pk=i.pk%}">Cancelar</a></td>
            </tr>    
            {% endfor%}
    </tbody>
    </table>
    {%else%}
    <div>
        <p>No posee ningun pasaje en Pendientes</p>
    </div>
    {%endif%}
    </div>
{% if cancelado_48 %}
    <div>
        <p>Se ha cancelado correctamente y se le ha reembolsado el 100%</p>
    </div>
{% else %}
    {% if cancelado_dentro %}
        <div>
            <p>Se ha cancelado correctamente y se le ha reembolsado el 50% ya que faltan menos de 48 horas para que se realice el viaje</p>
        </div>
    {% else %}
        {% if pasado %}
        <div>
            <p>No se ha podido cancelar el viaje ya que el viaje ya paso,ahora aparecerá en la lista de cancelados</p>
        </div>
        {% endif %}
    {% endif %}
{% endif %}
<div class="card"><h4><a href="{% url 'home_usuario' %}">Atras</a></h4></div>
{% endblock %}