{% extends 'demo1/base.html' %}
{% load static %}
{% block content %}
<div class="card">
    <h2>Listado de Combis</h2>  
</div>
    <div class="card">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>
    <script src="{% static 'js/nuevojavascript.js' %}"></script>
    <table class="tablalista" width=100% border="1">
        <tbody>
        {% if cantidad %}
            <tr>
                <td align="center">Nom. de Modelo</td>
                <td align="center">Patente</td>
                <td align="center">Nom. de Chofer</td>
                <td align="center" colspan="3">Opciones</td>
            </tr>
            {% for c in page_obj %}
                <tr>
                    <td>{{c.modelo}}</td>
                    <td>{{c.patente }}</td>
                    <td>{{c.chofer }}</td>
                    <td align="center"> 
                        <button><a href="{% url 'detalle_combi' pk=c.pk%}" style="text-decoration:none; color: black;">Detalle</a></button></td>
                    <td align="center"> 
                        <button onclick="confirmarEliminacion('{% url 'eliminar_combi' pk=c.pk%}', 'Esta seguro que desea eliminar la combi?' )" style="color: black;">Eliminar</button></td>
                    <td align="center">
                        <button><a href="{% url 'modificar_combi' pk=c.pk%}" style="text-decoration:none; color: black;">Modificar</a></button>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <p>No se registro ninguna combi</p>
        {% endif %}
    </tbody>
    </table>
    </div>
    <div class='card'>
        <div id="mensaje">

        </div>
    {% if noModificado %}
    <div>
        <h3>No es posible modificar la combi ya que se encuentra asignado a un viaje</h3>
    </div>
    {% endif %}
    </div>
    <div>
        {%if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
        {%endif%}
        {%if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number}}">Siguiente</a>
        {%endif%}
</div>
<div class="card"><h4><a href="{% url 'principal' %}">Atras</a></h4></div>
{% endblock %}