{% extends 'demo1/base.html' %}
{% load static %}
{% block content %}
<div class="card">
    <h2>Listado de lugares</h2>  
</div>
    <div class="card">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>
    <script src="{% static 'js/nuevojavascript.js' %}"></script>
    <table class="tablalista" width=100% border="1">
        <tbody>
        {% if cantidad %}
            <tr>
                <td align="center">Localidad</td>
                <td align="center">Provincia</td>
                <td align="center" colspan="2">Opciones</td>
            </tr>
            {% for lugar in page_obj %}
                <tr>
                    <td>{{lugar.nombre_de_lugar}}</td>
                    <td>{{lugar.provincia }}</td>
                    <td align="center"> 
                        <button onclick="confirmarEliminacion('{% url 'eliminar_lugar' pk=lugar.pk%}', 'Esta seguro que desea eliminar el lugar?' )" style="color: black;">Eliminar</button></td>
                    <td align="center">
                        <button><a href="{% url 'modificar_lugar' pk=lugar.pk%}" style="text-decoration:none; color: black;">Modificar</a></button>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <p>No se registro ningun lugar</p>
        {% endif %}
    </tbody>
    </table>
    </div>
    <div id="mensaje">

    </div>
    <div>
        {%if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
        {%endif%}
        {%if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number}}">Siguiente</a>
        {%endif%}
</div>
{% if noModificado%}
    <div>
        <h3>No fue posible modificar el lugar ya que se encuentra en una ruta</h3>
    </div>
{% endif %} 
<div class="card"><h4><a href="{% url 'principal' %}">Atras</a></h4></div>
{% endblock %}
