{% extends 'demo1/base.html' %}

{% block content %}
<div class="card">
    <h2>Listado de lugares</h2>  
</div>
    <div class="card">
    <table class="tablalista" width=100% border="1">
        <tbody>
        {% if cantidad %}
            <tr>
                <td align="center">Localidad</td>
                <td align="center">Provincia</td>
                <td align="center" colspan="2">Opciones</td>
            </tr>
            {% for lugar in page_obj %}
                <tr>
                    <td>{{lugar.nombre_de_lugar}}</td>
                    <td>{{lugar.provincia }}</td>
                    <td> 
                        <a href="{% url 'eliminar_lugar' pk=lugar.pk%}">Eliminar</a></td>
                    <td>
                        {% if lugar.valor %}
                            <a href="{% url 'modificar_lugar' pk=lugar.pk%}">Modificar</a>
                        {% else %}
                            <a href="{% url 'listado_lugar'%}">Modificar</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <p>No se registro ningun lugar</p>
        {% endif %}
    </tbody>
    </table>
    </div>
    <div>
        {%if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
        {%endif%}
        {%if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number}}">Siguiente</a>
        {%endif%}
</div>
{% if fallido %}
    <div>
        <p>No fue posible borrar el lugar ya que se encuentra en una ruta</p>
    </div>
{% endif %} 
<div class="card"><h4><a href="{% url 'principal' %}">Atras</a></h4></div>
{% endblock %}
