{% extends 'demo1/base.html' %}

{% block content %}
<div class="card">
    <h2>Listado de rutas</h2>  
</div>
    <div >
    <table class="tablalista" width=100% border="1">
        <tbody>
        {% if cantidad %}
            <tr>
                <td align="center">Origen</td>
                <td align="center">Destino</td>
                <td align="center">Hora</td>
                <td align="center" colspan="2">Opcines</td>
            </tr>
            {% for i in page_obj %}
                <tr>
                    <td>{{ i.origen  }}</td>
                    <td>{{ i.destino }}</td>
                    <td>{{ i.hora }}</td>
                    <td>
                        <a href="{% url 'eliminar_ruta' pk=i.pk%}">Eliminar</a></td>
                    <td>
                        {%if i.sePuede %}
                            <a href="{% url 'modificar_ruta' pk=i.pk%}">Modificar</a>
                        {% else %}
                            <a href="{% url 'listado_ruta' %}">Modificar</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <p>No se registro ninguna ruta</p>
        {% endif %}
    </tbody>
    </table>
    {% if exitosoE %}
        <p>La ruta que desea eliminar esta en un viaje presente o futuro, no se realizo la eliminación</p>
    {% endif %}
    {% if noSePuede %}
        <p>La ruta no se puede modificar debido a que corresponde a un viaje activo o futuro</p>
    {% endif %}
    </div>
    <div>
        {%if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
        {%endif%}
        {%if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number}}">Siguiente</a>
        {%endif%}
</div>
<div class="card"><h4><a href="{% url 'principal' %}">Atras</a></h4></div>
{% endblock %}