{% extends 'demo1/base.html' %}
{% load static %}
{% block content %}
<div class="card">
    <h2>Listado de rutas</h2>  
</div>
    <div >
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>
    <script src="{% static 'js/nuevojavascript.js' %}"></script>
    <table class="tablalista" width=100% border="1">
        <tbody>
        {% if cantidad %}
            <tr>
                <td align="center">Origen</td>
                <td align="center">Destino</td>
                <td align="center">Hora</td>
                <td align="center" colspan="2">Opciones</td>
            </tr>
            {% for i in page_obj %}
                <tr>
                    <td>{{ i.origen  }}</td>
                    <td>{{ i.destino }}</td>
                    <td>{{ i.hora }}</td>
                    <td align="center"> 
                        <button onclick="confirmarEliminacion('{% url 'eliminar_ruta' pk=i.pk%}', 'Esta seguro que desea eliminar la ruta?' )" style="color: black;">Eliminar</button></td>
                    <td align="center">
                        <button><a href="{% url 'modificar_ruta' pk=i.pk%}" style="text-decoration:none; color: black;">Modificar</a></button>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <p>No se registro ninguna ruta</p>
        {% endif %}
    </tbody>
    </table>
    <div id="mensaje">

    </div>
    {% if noModificado %}
        <h3>La ruta no se puede modificar debido a que corresponde a un viaje activo o futuro</h3>
    {% endif %}
    </div>
    <div>
        {%if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
        {%endif%}
        {%if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number}}">Siguiente</a>
        {%endif%}
</div>
<div class="card"><h4><a href="{% url 'principal' %}">Atras</a></h4></div>
{% endblock %}